<%= form_for(@song) do |f| %>
  <label>Song name:</label><br>
  <%= f.text_field :name %><br>
  
  <label>song genre:</label><br>
  <%= f.number_field :genre_id %><br>
  
  <label>song artist:</label><br>
  <%= f.number_field :artist_id %><br>
  
  <%= f.submit %>
<% end %>